@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anton|Muli:400,400i,500,500i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Muli:400,400i,500,500i,600&display=swap");


:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.nav-item {
  color: #f9fafc;
 ;

}


body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--body-color);
  text-align: var(--bs-body-text-align);
  background: rgb(13, 13, 13) ;
  background-color: rgb(7, 7, 7);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   background: #000000 !important;

}

.cuerpo{
  background: #000000;
  background-color: #000000;
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: "Anton", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 1700;
  line-height: 9.2;
  
}

h1, .h1 {
  font-size: calc(13.75rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.row {
  --bs-gutter-x: -7.5rem;
  --bs-gutter-y: 0;
}


.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}

.boxed-btn3 {
  background: #FF4533;
  /* IE6-9 */
  color: #fff;
  display: inline-block;
  padding: 14px 35px;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 2px;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../image/raves-randome/png/portada01.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    background-color: #3f0242;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 7rem;
  }

  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 7rem;
    }
  }
  .form-control-lg {
    min-height: calc(1.5em + 2rem + 2px);
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;

  }
  .form-control-lg::-webkit-file-upload-button {
    padding: 1rem 1.25rem;
    margin: -1rem -1.25rem;
    -webkit-margin-end: 1.25rem;
            margin-inline-end: 1.25rem;
  }
  .form-control-lg::file-selector-button {
    padding: 1rem 1.25rem;
    margin: -1rem -1.25rem;
    -webkit-margin-end: 1.25rem;
            margin-inline-end: 1.25rem;
  }
  .form-control-lg::-webkit-file-upload-button {
    padding: 1rem 1.25rem;
    margin: -1rem -1.25rem;
    -webkit-margin-end: 1.25rem;
            margin-inline-end: 1.25rem;
  }

  .shape_1{
    padding: 2rem 1.25rem;
    height: 70%;
   
  }

  .shape_2{
    padding: 2rem 1.25rem;
    height: 70%;
   
  }

  .shape_3{
    padding: 2rem 1.25rem;
    height: 70%;
   
  }

.card-text-new{
  text-align: justify;

}
.container-cards{
  background-color: #000000;

}

body { 
  background: #000000 !important;
}

.card .bg-primary {
    background-color: #007bff!important;
}

.card .bg-custom-1 {
  background-color: rgba(0, 0, 0, 0.2);
}

.detials_bg_1 {
  background-image: url(../image/raves-randome/323e432996ee627f05a9a93d9e20.jpg);
  background-color: #000000;
;
}


.container_brand{
  display: flexbox;
}

.col_brand{
  padding: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
}


.brand_area {
  padding-top: 50px;
}

@media (max-width: 767px) {

  .brand_area {
    padding-top: 60px;
   
  }
}


.brand_area  {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 80px;
}

.logo_a{
  display:flexbox;
  padding: 10px;
 margin-left: 20px;
}

.logo_b{
  display:flexbox;
  padding: 5px;
  margin-left: 15px;
}

.logo_c{
  display:flexbox;
  padding: 5px;
  margin-left: 10px;
}


@media (max-width: 767px) {
  .brand_area {
    padding-top: 60px;
  }
}





.box_area {
  position: relative;
  background-size: cover;
}

@media (max-width: 767px) {

  .box_area  {
    height: 400px !important;
  }
}


.box_area .location_information {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding: 50px 55px 55px 50px;
  right: 32%;
  max-width: 460px;
}

@media (max-width: 767px) {

  .box_area .location_information {
    padding: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
  }
}


.box_area .location_information h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #FF4533;
  margin-bottom: 20px;
}


.box_area .location_information .info_wrap .single_info {
  display: flex;
  margin-bottom: 7px;
}

@media (max-width: 767px) {

  .box_area .location_information .info_wrap .single_info {
    display: block;
  }
}


.box_area .location_information .info_wrap .single_info:last-child {
  margin-bottom: 0;
}


.box_area .location_information .info_wrap .single_info span {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
  color: #AAB1B7;
}

@media (max-width: 767px) {

  .box_area .location_information .info_wrap .single_info span {
    font-size: 14px;
  }
}


.box_area .location_information .info_wrap .single_info p {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  display: inline-block;
}

@media (max-width: 767px) {

  .box_area .location_information .info_wrap .single_info p {
    font-size: 14px;
  }
}

.black_bg {
  background: #000000;
}




.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #000000;
  position: relative;
  z-index: 9;
}

.footer .footer_top {
  padding-top: 110px;
  padding-bottom: 140px;
}

.footer .footer_top {
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer .footer_top .footer_widget h4 {
  font-size: 30px;
  font-weight: 400;
  color: #FF4533;
  margin-bottom: 24px;
}

.footer .footer_top .footer_widget p {
  margin-top: 25px;
  margin-bottom: 41px;
}

.footer .copy-right_text {
  padding-bottom: 45px;
}

.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #AAB1B7;
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

  @media (max-width: 767px) {
    .footer .copy-right_text .copy_right {
      font-size: 14px;
    }
  }

  .footer .copy-right_text .copy_right a {
    color: #FF4533;
  }



  .container-footer{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
    }

    /* line 152, ../../Arafath/CL/December/236. Event-02/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 156, ../../Arafath/CL/December/236. Event-02/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.3+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 171, ../../Arafath/CL/December/236. Event-02/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 175, ../../Arafath/CL/December/236. Event-02/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.8+100 */
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cc000000',GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}